@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h1{
    font-family: "Unbounded";
    font-size: 64px;
    font-style: bold;
    color: blanchedalmond;
    text-align: center;
}

/*The place for coders*/


.Welcome{
    text-align: center;
}

.Welcome h2{
    display: inline-block;
    font-family: "Poppins";
    color: blanchedalmond;
    font-size: 2em;
    border-radius: 2em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.Shelf1 h1{
    font-family: "Unbounded";
    font-size: 16px;
    font-style: bold;
    color: blanchedalmond;
    text-align: center;
}

p{
    font-style: italic;
    font-size: xx-large;
    font-family: "Poppins";
    color: blanchedalmond;
}

input{
    border-radius: 2em;
    border: none;
    font-family: "Poppins";
    font-size: 24px;
    padding: 16px 32px;
    margin: 2px 1px;
    border-radius: 2em;
}

.SubmissionForm{
    margin: 0 auto;
    padding: 16px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.654);
    border-radius: 2em;
}

.Shelf1{
    text-align: center;
}

.resize {
    width: 300px;
    height: auto;
}

button{
    border-radius: 2em;
    font-family: "Poppins";
    border: 50em;
    border-color: blanchedalmond;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.412);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

body{
    background-repeat: repeat-y;
    background-color: #F4D03F;
    background-image: linear-gradient(90deg, #F4D03F 0%, #16A085 100%);
}
