@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@media only screen and (orientation = portrait){
  .Text{
    text-align: center;
  }

}

body{
  text-align: center;
  background-image: url(rsrc/bg.svg);
  background-color: #040420;
  background-size: cover;
}

a{
  text-decoration: none;
}

.Text{
  color: #fff;
  font-family: "PT Mono";
}


.Welcome{
  background-size: cover;
}

.Download{
  text-align: center;
}


.Title{
  color: #fff;
  font-family: "PT Mono";
  font-size: 150px;
}

.Subtitle{
  color: #fff;
  font-family: "PT Mono";
  font-size: 100px;
}

         
button{
  background-image: linear-gradient(to right, #a14a46 0%, #8a3c4f  51%, #4e2d4f 100%);
  padding: 15px 45px;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgba(255, 255, 255, 0.5);      
  border: none;
  border-radius: 2em;
}
button:hover {
  color: #fff;
  text-decoration: none;
}
         
